.about_why-barasingha-wrapper {
   position: relative;
    .cubeImage{
         position: absolute;
         right: 0px;
         top: -50px;
         height: 36px;
         width: 52px;

         @media all and (min-width: 768px) {
            height: 60px;
            width: 100px
         }

         @media all and (min-width: 992px) {
            top: -60px;
            height: 100px;
            width: 160px;
         }
    }
 
    .title-wrapper {
      max-width: 480px;
      margin-inline: auto;
      @media all and (min-width: 400px) {
         padding-inline: 24px;
      }
      p:nth-child(1) {
         font-size: 12px;

         @media all and (min-width: 400px) {
         }

         @media all and (min-width: 992px) {
            font-size: 16px;
         }

      }

      p:nth-child(2) {
         font-size: 20px;
         
         @media all and (min-width: 400px) {
           font-size: 24px; 
         }

         @media all and (min-width: 992px) {
            font-size: 32px;
         }
      }

      p:nth-child(3) {
         font-size: 12px;

         @media all and (min-width: 400px) {
            font-size: 14px;
         }

         @media all and (min-width: 992px) {
            font-size: 16px;
         }
      }

      p {
         max-width: 500px;
         margin-inline: auto;
      }
    }
    .WhyHow_why_how_carousel{
    margin-block: 3.5rem;
      padding: 0 120px;
   }
    .benefits-container {
       padding-top: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       gap: 3rem 5rem;
       .benefits {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
          align-self: stretch;
          .benefits-card {
             display: flex;
             flex-direction: column;
             gap: 0.5rem;
             img {
                max-width: 4rem;
                aspect-ratio: 1 / 1;
             }
             .heading {
               margin-top: 1.75rem;
               font-size: 16px;
               @media all and (min-width: 400px) {
                  font-size: 18px;
               }
               @media all and (min-width: 992px) {
                  font-size: 20px;
               }
             }
             .para {
                font-size: 12px;
                margin-bottom: 0.5rem;
               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 992px) {
                  font-size: 16px;
               }
             }
             .link {
               display: flex;
                * {
                   color: #e5be20;
                }
               span {
                  display: block;
                  border-bottom: 1px solid transparent;
                  line-height: 150%; /* 24px */
                  font-size: 12px;
                  @media all and (min-width: 400px) {
                     font-size: 14px;
                  }

                  @media all and (min-width: 992px) {
                     font-size: 16px;
                  }
               }
               .arrow {
                  display: block;
                  padding-left: 10px;
                  height: 20px;
                  width: 20px;
                  @media all and (min-width: 400px) {
                     height: 22px;
                     width: 22px;
                  }

                  @media all and (min-width: 992px) {
                     height: 24px;
                     width: 24px;
                  }
               }
 
               &:hover {
                  span {
                     border-bottom: 1px solid #e5be20;
                  }
               }
             }
          }
       }
    }
 }
 
 .about_why-barasingha-wrapper  {
   .owl-dots button.owl-dot {
      margin-top: 1.5rem;
      span {
         width: 0.7rem;
         height: 0.7rem;
         margin-inline: 4px;
         border-radius: 0;
         clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
         opacity: 0.5;
      }
   }
   .owl-dots button.owl-dot.active span {
      background: #e5be20;
      opacity: 1;
   }
}
