@import "../../../App.scss";

.owl-carousel .owl-stage-outer {
   overflow-x: clip;
   overflow-y: inherit;
}

.noise-img {
   background: url(../../../media/noise.webp);
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-repeat: repeat;
   background-size: contain;
   z-index: -1;
   opacity: 0.1;
   filter: opacity(0.3);
}

.package_card .ellipse,
.mobile_package_card .ellipse {
   width: 838.998px;
   height: 836.569px;
   position: absolute;
   border-radius: 838.998px;
   mix-blend-mode: difference;
   filter: blur(105.03971862792969px);

   z-index: -1;
}

.package_card .ellipse-one {
   opacity: 0.1;
   right: -82.19px;
   top: -581.537px;
   background: #67aa94;
}

.package_card .ellipse-two {
   opacity: 0.08;
   background: #8086f5;
   left: -4.808px;
   bottom: -392.032px;
}

.mobile_package_card .ellipse-two {
   opacity: 0.08;
   background: #8086f5;
   right: -540.19px;
   bottom: -291.547px;
}

// .owl-item {
//     perspective: 1000px;
// }

// .owl-item:not(.active) {
//     transform: perspective(1000px) rotateY(-10deg);
//     transition: transform 0.3s ease-in-out;
// }

.package_details_container .owl-nav-custom button,
.individual_package_container .owl-nav-indv-custom button {
   width: 40px;
   height: 40px;
   padding-top: 5px;
   border-radius: 100px !important;
   border: 1px solid #04121b !important;
   background: #101d24 !important;
   box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(10px);
   margin: 0 !important;
   position: absolute;
   top: calc(50% - 30px);
}

.package_details_container .owl-nav-custom button span,
.individual_package_container .owl-nav-indv-custom button span {
   color: #f8f8f8;
   opacity: 0.7;
   font-size: 33px;
   line-height: 20px;
}

.package_details_container .owl-nav-custom { 
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
   .owl-prev {
      left: 14px !important;
      top: -285px;
   }

   .owl-next {
      right: 14px !important;
      top: -285px;
   }
}

.package_details_container {
   .owl-item {
      transition: transform 0.5s linear;
   }
}
.individual_package_container .owl-nav-indv-custom {
   .owl-prev {
      left: 12px !important;
   }

   .owl-next {
      right: 12px !important;
   }
} 

.individual_package_container .owl-dots button,
.package_details_container_mobile .slick-dots button {
   background: #fff;
   width: 6px;
   height: 6px;
   transform: rotate(-45deg);
   opacity: 0.1;
   margin: 0 4px;
   padding: 0;
}

.individual_package_container .owl-dots,
.package_details_container_mobile .slick-dots {
   text-align: center;
}

.individual_package_container .owl-dots button.owl-dot.active,
.package_details_container_mobile .slick-dots .slick-active button {
   /* border-radius: 1px; */
   background: #e5be20;
   opacity: 1;
}

.individual_package_container .owl-dots {
   padding-top: 15px;
}

.package_details_container_mobile .slick-dots button:before {
   display: none;
}

.package_details_container_mobile .slick-dots li {
   margin: 0;
   height: auto;
   width: auto;
}

.package_container {
   background: linear-gradient(180deg, rgba(1, 18, 28, 0) 0%, #01121c 100%);
   overflow: hidden;
   padding: 56px 0 130px;
   position: relative;
   z-index: 1;

   .title-wrapper {
      p {
         margin-bottom: 5px;
      }

      p:nth-child(1) {
         font-size: 12px;

         @media all and (min-width: 992px) {
            font-size: 16px;
         }
      }

      p:nth-child(2) {
         font-size: 20px;

         @media all and (min-width: 400px) {
            font-size: 24px;
         }

         @media all and (min-width: 992px) {
            font-size: 32px;
         }
      }
   }

   // padding:56px 80px;
   .pattern {
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      width: 912.502px;
      height: 790.419px;
      object-fit: contain;
   }

   .pattern2 {
      top: -15%;
      right: -24%;
   }

   .pattern1 {
      bottom: -9%;
      left: -26%;
   }

   .package_heading {
      //display: flex;
      color: #4f7d6e;
      text-align: center;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      /* 24px */
      letter-spacing: 5px;
      text-transform: uppercase;
   }

   .trust {
      color: #fdfdff;
      text-align: center;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      /* 38.4px */
      padding: 10px 0 0 0;
   }

   .package_details_container {
      padding-top: 56px;
      max-width: 1500px;
      margin: 0 auto;
      position: relative;

      .owl-item {
         display: flex;
         justify-content: center;
         // max-width: calc(1200px - 2rem);
      }

      .package_card {
         width: 100%;
         display: flex;
         overflow: hidden;
         position: relative;
         padding: 48px;
         flex-direction: column;
         border-radius: 16px;
         border: 2px solid #2a3e4e59;
         background: radial-gradient(185.16% 185.16% at 50% 0%,
               rgba(0, 31, 41, 0.75) 0%,
               #022032 100%);
         box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.18),
            0px 13px 29px 0px rgba(0, 0, 0, 0.18),
            0px 53px 53px 0px rgba(0, 0, 0, 0.15),
            0px 119px 71px 0px rgba(0, 0, 0, 0.09),
            0px 212px 85px 0px rgba(0, 0, 0, 0.03),
            0px 331px 93px 0px rgba(0, 0, 0, 0);
         backdrop-filter: blur(10px);

         .title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
               margin-bottom: 0px;
            }

            p:nth-child(1) {
               font-size: 18px;
               margin-bottom: 12px;

               @media all and (min-width: 400px) {
                  font-size: 22px;
               }

               @media all and (min-width: 992px) {
                  font-size: 24px;
               }
            }

            p:nth-child(2) {
               font-size: 12px;
               // max-width: 430px;

               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 992px) {
                  font-size: 16px;
               }
            }
         }

         .package_feature_container {
            margin-top: 1rem;

            .package_feature_card {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               margin-left: 5px;

               // backdrop-filter: blur(54px);
               .feature_picture {
                  width: 150px;
                  aspect-ratio: 1 / 1;

                  img {
                     object-fit: none;
                  }
               }

               .heading {
                  width: 70%;
                  font-size: 18px;
               }

               .para {
                  display: flex;
                  align-items: flex-start;
               }

               .shield {
                  display: inline;
                  margin-top: 0.3rem;
                  width: 1rem !important;
                  height: 1rem !important;
               }
            }

            [class*="col-"] {
               padding: 0;
            }
         }
      }

      .package_details__overlay {
         display: none;
         pointer-events: none;
         position: absolute;
         top: 0px;
         left: -5px;
         z-index: 5;
         width: 101%;
         height: 100%;
         background: rgb(1, 18, 28);
         background: -moz-linear-gradient(90deg, rgba(1, 18, 28, 1) 2%, rgba(1, 18, 28, 0) 6%, rgba(1, 18, 28, 0) 94%, rgba(1, 18, 28, 1) 98%);
         background: -webkit-linear-gradient(90deg, rgba(1, 18, 28, 1) 2%, rgba(1, 18, 28, 0) 6%, rgba(1, 18, 28, 0) 94%, rgba(1, 18, 28, 1) 98%);
         background: linear-gradient(90deg, rgba(1, 18, 28, 1) 2%, rgba(1, 18, 28, 0) 6%, rgba(1, 18, 28, 0) 94%, rgba(1, 18, 28, 1) 98%);

         @media all and (min-width: 1300px) {
            display: block;
         }
      }
   }

   .package_details_container_mobile {
      padding-top: 56px;
      gap: 24px;
      margin: 0 auto;
      padding: 56px 0px;

      .mobile_package_card {
         width: 100px;
         display: flex;
         overflow: hidden;
         padding: 32px 32px 60px 32px;
         flex-direction: column;
         align-items: flex-start;
         flex: 1 0 0;
         border-radius: 16px;
         // border: 2px solid #353A64;
         border: 2px solid #0f2832;
         background: lightgray 0% 0% / 15.999999642372131px 15.999999642372131px repeat,
            radial-gradient(185.16% 185.16% at 50% 0%,
               rgba(0, 31, 41, 0.75) 0%,
               #022032 100%);
         box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.18),
            0px 13px 29px 0px rgba(0, 0, 0, 0.18),
            0px 53px 53px 0px rgba(0, 0, 0, 0.15),
            0px 119px 71px 0px rgba(0, 0, 0, 0.09),
            0px 212px 85px 0px rgba(0, 0, 0, 0.03),
            0px 331px 93px 0px rgba(0, 0, 0, 0);
         backdrop-filter: blur(10px);

         @media all and (min-width: 576px) {
            padding: 32px;
         }

         .mobile_feature_name {
            align-self: stretch;
            color: #fdfdff;
            text-align: center;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            /* 28.8px */

            @media all and (min-width: 400px) {
               font-size: 20px;
            }

            @media all and (min-width: 992px) {
               font-size: 24px;
            }
         }

         .mobile_feature_desc {
            margin: 0px auto;
            font-size: 12px;

            @media all and (min-width: 400px) {
               font-size: 14px;
               max-width: 450px;

            }

            @media all and (min-width: 992px) {
               font-size: 18px;
               max-width: 600px;
            }
         }

         .all-items {
            margin-top: 20px;
            display: none;

            @media all and (min-width: 576px) {
               display: grid;
               grid-template-columns: 1fr 1fr;
               gap: 30px;
            }

            @media all and (min-width: 992px) {
               grid-template-columns: repeat(4, 1fr);
            }

            .item-mob {
               .row {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
               }

               .feature-img {
                  padding: 0px;
                  margin: 0px;
                  width: 120px;

                  @media all and (min-width: 768px) {
                     width: 128px;
                  }

                  @media all and (min-width: 992px) {
                     img {
                        object-position: -35px;
                     }
                  }
               }

               .feature {
                  width: auto;

                  div:nth-child(1) {
                     font-size: 16px;
                  }

                  div:not(:first-child) {
                     display: flex;
                     align-items: center;

                     span {
                        font-size: 12px;
                     }
                  }
               }
            }

            .feature_desc {
               color: #f2f2f2;
               font-family: Manrope;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               letter-spacing: 0.5px;
            }

            .shield {
               display: inline;
               width: 18px !important;
               height: 18px !important;
            }
         }

         .slider-items {
            @media all and (min-width: 576px) {
               display: none;
            }

            .item-mob {
               img {
                  height: 120px;
                  object-fit: fill;

                  @media all and (min-width: 400px) {
                     height: 150px;
                  }
               }

               .row {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
               }

               .feature {
                  width: auto;

                  div:nth-child(1) {
                     font-size: 18px;

                     @media all and (min-width: 400px) {
                        font-size: 20px;
                     }
                  }

                  div:not(:first-child) {
                     display: flex;
                     align-items: center;

                     span {
                        font-size: 12px;

                        @media all and (min-width: 400px) {
                           font-size: 14px;
                        }
                     }
                  }
               }
            }

            .feature_desc {
               color: #f2f2f2;
               font-family: Manrope;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               letter-spacing: 0.5px;
            }

            .shield {
               display: inline;
               width: 18px !important;
               height: 18px !important;
            }
         }

      }
   }

   .individual_package_container {
      padding-top: 40px;
      max-width: 1200px;
      margin: 0 auto;

      .individual_package_card {
         height: 100%;
         background-image: url("../../../media/hatching.svg");
         background-size: contain;
         background-blend-mode: color-dodge;
         border-radius: 12px;
         // background: linear-gradient(180deg, rgba(255, 255, 255, 0) -17.2%, rgba(255, 255, 255, 0.07) 115.79%);
         background-color: #081923;
         -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);
         padding: 12px 32px 24px;

         display: flex;
         flex-direction: column;

         @media all and (min-width: 576px) {
            padding-top: 12px;
         }

         @media all and (min-width: 768px) {
            padding-bottom: 32px;
         }

         @media all and (min-width: 992px) {
            padding-top: 32px;
            flex-direction: row;
            align-items: center;
         }

         .left_content {
            width: 100%;
            margin: 0 auto;

            .indiv_image {
               // object-fit: none;
               width: 50%;
               margin: 0 auto;

               @media all and (min-width: 576px) {
                  width: 60%;
               }

               @media all and (min-width: 992px) {
                  width: 100%;
                  object-position: -10px;
               }
            }
         }

         .green_shield.fade-shield {
            opacity: 0.3;
         }

         .right_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            // @media screen and (max-width: 769px) {
            //    display: contents;
            // }

            @media all and (min-width: 992px) {
               align-items: flex-start;
            }

            .fast_selling_block,
            .top_selling_block {
               // width:80px;
               padding: 4px 8px;
               display: inline-block;
               border-radius: 3px;
               background: linear-gradient(135deg,
                     rgba(115, 212, 249, 0.16) 0%,
                     rgba(183, 30, 247, 0.16) 100%);
               //mix-blend-mode: luminosity;
               color: #d1d1d1;
               font-family: Manrope;
               font-size: 10px;
               // font-style: normal;
               font-weight: 700;
               // line-height: 140%; /* 14px */
               letter-spacing: 1px;
               text-transform: uppercase;
            }

            .fast_selling_block {
               mix-blend-mode: luminosity;
            }

            .top_selling_block {
               background: linear-gradient(0deg,
                     rgba(0, 0, 0, 0.3) 0%,
                     rgba(0, 0, 0, 0.3) 100%),
                  linear-gradient(135deg, #ed9f2a 0%, #ec4910 100%) !important;
            }

            .security_type {
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 10px;

               @media all and (min-width: 576px) {
                  flex-direction: column;
                  gap: 5px;
               }

               @media all and (min-width: 992px) {
                  flex-direction: row;
               }

               @media all and (min-width: 1200px) {}

               .shield {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  max-height: 16px;
                  // width: 14px;

                  @media all and (min-width: 576px) {
                     // margin: 0 auto;
                  }


               }

               .security_stage {
                  color: #67aa94;
                  font-family: Manrope;
                  font-size: 12px;
                  font-weight: 600;
                  letter-spacing: 0.5px;

                  @media all and (min-width: 400px) {
                     font-size: 14px;
                  }

                  @media all and (min-width: 1200px) {
                     font-size: 16px;
                  }
               }
            }

            // .green_shield{
            //     width: 18px !important;
            //     padding-top:12px;
            //     @media screen and (max-width: 500px) {
            //         .column {
            //           width: 100%;
            //         }
            //     }
            // }
            .indiv_feature {
               padding-top: 1rem;
               clear: both;
               color: #fff;
               font-family: Manrope;
               font-size: 18px;
               font-weight: 700;
               line-height: 120%;
               /* 28.8px */
               letter-spacing: 0.5px;
               text-transform: capitalize;
               text-align: center;
               flex: 1;

               @media all and (min-width: 400px) {
                  font-size: 20px;
               }

               @media all and (min-width: 1200px) {
                  font-size: 22px;
               }
            }

            // .indiv_feature_desc {
            //    padding-top: 8px;
            //    color: #fff;
            //    font-family: Manrope;
            //    font-size: 14px;
            //    line-height: 150%;
            //    /* 21px */
            //    opacity: 0.6;
            //    font-weight: 300;

            //    @media all and (min-width: 400px) {
            //       font-size: 20px;
            //    }
            // }

            .para {
               font-size: 12px;
               text-align: center;

               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 992px) {
                  text-align: start;
               }

               @media all and (min-width: 1200px) {
                  font-size: 16px;
               }
            }



            // .shield {
            //    display: inline;
            //    width: 18px !important;
            //    height: 18px !important;
            // }
         }
      }

      // padding-inline: 2rem;
      .owl-stage {
         display: flex;
      }

      .owl-nav-indv-custom {
         display: none;

         @media all and (min-width: 992px) {
            display: block;
         }
      }
   }
}

@media screen and (max-width: 991px) {
   .mobile_package_card .slick-initialized .slick-slide {
      padding: 0 10px;
   }

   .package_container {
      padding: 32px 0 88px;
   }

   .package_details_container_mobile .slick-slide.slick-active.slick-center.slick-current {
      transform: scale(1);
   }

   .package_details_container_mobile .slick-slide {
      transform: scale(0.95);
   }

   .package_container .trust {
      font-size: 18px;
   }

   .package_details_container_mobile .slick-list {
      overflow-x: clip;
      overflow-y: inherit;
   }

   // .package_container .package_heading {
   //    font-size: 12px;
   // }

   .package_container .individual_package_container .individual_package_card {
      // min-height: auto;
      // margin: 0 0px;

      // [class*="col-"] {
      //    width: 100%;
      //    padding: 0;
      // }
   }

   .package_container .individual_package_container {
      // padding-top: 0;
   }

   .package_container .pattern {
      display: none;
   }

   // .individual_package_container .owl-nav {
   //    display: none;
   // }
   .individual_package_container .custom-container {
      padding: 0;
   }
}

.heading--two--packages {
   padding: 0 53px !important;
}