.solutions_container {
   padding-block: 100px;
   width: 100%;
   padding-block: 80px;
   background: linear-gradient(180deg, #00111c 0%, #060d0b 21.02%);

   .solutions_content_container {
      .title-wrapper {
         margin-bottom: 56px;

         p {
            margin-bottom: 5px;
         }

         p:nth-child(1) {
            font-size: 12px;

            @media all and (min-width: 992px) {
               font-size: 16px;
            }
         }

         p:nth-child(2) {
            font-size: 20px;
            max-width: 150px;
            margin: 0 auto;

            @media all and (min-width: 400px) {
               font-size: 24px;
               max-width: 180px;
            }

            @media all and (min-width: 992px) {
               font-size: 32px;
               max-width: 100%;
            }
         }
      }

      .problem_card {
         display: flex;
         gap: 56px;
         margin-bottom: 50px;

         @media all and (min-width: 576px) {
            margin-bottom: 100px;
         }

         @media all and (min-width: 992px) {
            margin-bottom: 150px;
         }

         .problem_card__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            @media all and (min-width: 576px) {
               gap: 32px;
            }
         }

         .left_card {
            flex: 1;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            background: linear-gradient(300deg, rgba(26,33,35,1) 0%, rgba(10,17,15,1) 60%);
            backdrop-filter: blur(10px);
            min-height: 380px;
            border-radius: 16px;
            display: none;

            @media all and (min-width: 576px) {
               display: flex;
            }

            @media all and (min-width: 992px) {
               min-height: 450px;
            }

            img {               
               width: 90px;

               @media all and (min-width: 576px) {
                  width: 45%;
               }

               @media all and (min-width: 1200px) {
                  width: 40%;
               }
            }
         }

         .left_card.flip-bg {
            background: linear-gradient(60deg, rgba(26,33,35,1) 0%, rgba(10,17,15,1) 60%);
         }

         .right_card {
            flex: 1;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;

            @media all and (min-width: 576px) {
               gap: 16px;
               padding-block: 20px;
            }

            .heading-img {
               width: 30px;
               margin-bottom: 10px;

               @media all and (min-width: 576px) {
                  width: 40px;
               }
            }

            .heading {
               font-size: 16px;
               font-weight: 400;

               @media all and (min-width: 400px) {
                  font-size: 18px;
               }

               @media all and (min-width: 768px) {
                  font-size: 20px;
               }

               @media all and (min-width: 992px) {
                  font-size: 40px;
               }
            }

            .para {
               font-size: 12px;

               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 768px) {
                  font-size: 16px;
               }

               @media all and (min-width: 992px) {
                  font-size: 18px;
               }
            }

            img {
               width: 20px;
            }

            .problem_type {
               font-size: 26px;
               padding: 20px 0;
            }

            .solution_link {
               color: var(--Linear, #e5be20) !important;
               width: fit-content;
               gap: 8px;
               display: flex;
               align-items: flex-end;
               min-width: 100px;
               margin-top: 10px;
               font-size: 14px;

               .text {
                  font-size: 12px;

                  &:hover {
                     border-bottom: 1px solid;
                  }
                  
                  @media all and (min-width: 400px) {
                     font-size: 14px;
                  }
   
                  @media all and (min-width: 768px) {
                     font-size: 16px;
                  }

                  @media all and (min-width: 992px) {
                     font-size: 18px;
                  }
               }

               img {
                  width: 10px;
                  padding-bottom: 6px;

                  @media all and (min-width: 400px) {
                     width: 10px;
                  }
   
                  @media all and (min-width: 768px) {
                     width: 12px;
                  }

                  @media all and (min-width: 992px) {
                     width: 14px;
                  }
               }
            }
         }
      }
   }
}
