.solutions_container {
   padding-block: 100px;
   width: 100%;
   padding-block: 80px;
   background: linear-gradient(180deg, #00111c 0%, #060d0b 21.02%);

   .solutions_content_container {
      .title-wrapper {
         margin-bottom: 20px;

         @media all and (min-width: 768px) {
            margin-bottom: 40px;
         }

         p {
            margin-bottom: 5px;
         }

         p:nth-child(1) {
            font-size: 12px;

            @media all and (min-width: 992px) {
               font-size: 16px;
            }
         }

         p:nth-child(2) {
            font-size: 20px;

            @media all and (min-width: 400px) {
               font-size: 24px;
            }

            @media all and (min-width: 992px) {
               font-size: 32px;
            }
         }
      }

      .problem_card {
         display: flex;
         gap: 56px;
         margin-bottom: 50px;

         
         @media all and (min-width: 400px) {
            margin-bottom: 72px;
         }

         .problem_card__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            @media all and (min-width: 576px) {
               gap: 20px;
            }
         }

         .left_card {
            flex: 1;
            display: flex;
            min-height: 500px;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            background: linear-gradient(119deg,
                  rgba(0, 0, 0, 0) -55.58%,
                  rgba(226, 222, 241, 0.1) 100%);
            backdrop-filter: blur(10px);
            min-height: 380px;
            border-radius: 6px;

            img {               
               width: 90px;

               @media all and (min-width: 576px) {
                  width: 50%;
               }

               @media all and (min-width: 1200px) {
                  width: 40%;
               }
            }
         }

         .right_card {
            flex: 1;
            padding-top: 24px;
            display: grid;
            gap: 16px;
            padding: 0;

            .heading-img {
               margin-bottom: 10px;
            }

            .heading {
               font-size: 16px;
               
               @media all and (min-width: 400px) {
                  font-size: 18px;
               }

               @media all and (min-width: 768px) {
                  font-size: 20px;
               }

               @media all and (min-width: 992px) {
                  font-size: 24px;
               }
            }

            .para {
               font-size: 12px;

               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 768px) {
                  font-size: 16px;
               }

               @media all and (min-width: 992px) {
                  font-size: 18px;
               }
            }

            img {
               width: 20px;
            }

            .problem_type {
               font-size: 26px;
               padding: 20px 0;
            }

            .solution_link {
               color: var(--Linear, #e5be20) !important;
               width: fit-content;
               gap: 8px;
               display: flex;
               align-items: flex-end;
               min-width: 100px;
               margin-top: 1rem !important;
               font-size: 14px;

               .text {
                  font-size: 12px;

                  &:hover {
                     border-bottom: 1px solid;
                  }
                  
                  @media all and (min-width: 400px) {
                     font-size: 14px;
                  }
   
                  @media all and (min-width: 768px) {
                     font-size: 16px;
                  }

                  @media all and (min-width: 992px) {
                     font-size: 18px;
                  }
               }

               img {
                  width: 10px;
                  padding-bottom: 6px;

                  @media all and (min-width: 400px) {
                     width: 10px;
                  }
   
                  @media all and (min-width: 768px) {
                     width: 12px;
                  }

                  @media all and (min-width: 992px) {
                     width: 14px;
                  }
               }
            }
         }
      }
   }
}
