.casestudy {
}

.casestudy-title {
   text-align: center;
   max-width: 1008px;
   margin-inline: auto;
   margin-block: 100px 140px;

   @media screen and (max-width: 768px) {
      margin-block: 80px 100px;
   }

   .para {
      margin-top: 2rem;
      max-width: 469px;
      margin-inline: auto;
   }
}

.casestudy-search{
   padding-bottom: 72px;
}