.solution_suite {
   display: flex;

   .solution_suite_container {
      width: 100%;
      display: flex;
      object-fit: contain;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      padding-inline: 2rem;
      width: auto;
      margin-inline: auto;
      margin-bottom: 40px;
      
      .title-wrapper {
         p {
            margin-bottom: 0px;
         }
         
         p:nth-child(1) {
            font-size: 12px;
            margin-bottom: 8px;
            
            @media all and (min-width: 400px) {}
            
            @media all and (min-width: 992px) {
               font-size: 16px;
            }
         }
         
         p:nth-child(2) {
            font-size: 20px;
            
            @media all and (min-width: 400px) {
               font-size: 24px;
            }
            
            @media all and (min-width: 992px) {
               font-size: 32px;
            }
         }
      }
      
      .card_section_1 {
         max-width: 1200px !important;
         width: auto;
         gap: 20px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         text-align: center;
         margin-top: 20px;

         @media all and (min-width: 768px) {
            flex-direction: row;
         }

         .feature_card {
            float: left;
            display: flex;
            // width: 364.667px;
            height: 227px;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            border-radius: 16px;
            background: linear-gradient(244.42deg,
                  rgba(53, 58, 100, 0.5) -4.17%,
                  rgba(29, 32, 54, 0) 34.22%);
            background: linear-gradient(360deg,
                  rgba(255, 255, 255, 0.02) -32.44%,
                  rgba(255, 255, 255, 0) 159.97%);

            backdrop-filter: blur(10px);
            width: auto;
            height: auto;
            padding: 12px;

            @media all and (min-width: 768px) {
               width: 40%;
               flex-direction: row;
               padding: 20px;
            }

            @media all and (min-width: 992px) {
               width: 30%;
            }

            .card_content {
               display: block;
               margin-left: auto;
               margin-right: auto;

               .image {
                  display: flex;
                  justify-content: center;
               }

               .heading {
                  align-self: stretch;
                  color: #f2f2f2;
                  text-align: center;
                  font-family: Manrope;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  padding: 16px 0;

                  @media all and (min-width: 400px) {
                     font-size: 18px;
                  }

                  @media all and (min-width: 992px) {
                     font-size: 20px;
                  }
               }

               .desc {
                  color: #F1F1F1;
                  text-align: center;
                  font-family: Manrope;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 200;
                  line-height: 150%;
                  // letter-spacing: 0.1px;

                  @media all and (min-width: 400px) {
                     font-size: 14px;
                  }
               }
            }
         }
      }

      .card_section_2 {
         width: auto;
         gap: 20px;
         display: flex;
         padding-top: 32px;
         justify-content: center;
         display: flex;
         flex-direction: column;
         padding: 0;

         .feature_card {
            float: left;
            display: flex;
            padding: 24px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            border-radius: 16px;
            background-blend-mode: luminosity;
            background: linear-gradient(244.42deg,
                  rgba(53, 58, 100, 0.5) -4.17%,
                  rgba(29, 32, 54, 0) 34.22%);
            background: linear-gradient(180deg,
                  rgba(255, 255, 255, 0.02) -32.44%,
                  rgba(255, 255, 255, 0) 159.97%);

            width: auto;
            height: auto;

            .card_content {
               display: block;
               margin-left: auto;
               margin-right: auto;

               .image {
                  display: flex;
                  justify-content: center;
               }

               .heading {
                  align-self: stretch;
                  color: #f2f2f2;
                  text-align: center;
                  font-family: Manrope;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  padding: 16px 0;
               }

               .desc {
                  align-self: stretch;
                  color: #f1f1f1;
                  text-align: center;
                  font-family: Manrope;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 200;
                  line-height: 150%;
                  /* 21px */
                  letter-spacing: 1px;
               }
            }
         }
      }
   }
}
