// Other imports
@import "./styles/base/variables";
@import "./styles/utils/mixins";
@import "./styles/base/typography";
@import "./styles/base/resets";
@import "./styles/base/cta";
@import "./styles/base/form";
@import "./styles/base/modal";

// Imprting utilities
@import "./styles/utils/helpers";

*,
::after,
::before {
   box-sizing: border-box;
}

body {
   font-family: "Manrope", sans-serif;
   background: linear-gradient(
         0deg,
         rgba(0, 0, 0, 0.5) 0%,
         rgba(0, 0, 0, 0.5) 100%
      ),
      #022439 !important;
   color: #d9d9d9 !important;
   
   /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
   display: none;
}

.main-container {
   max-width: 1920px; 
   margin: 0px auto;
}

.container {
   padding-inline: 2rem;
   width: auto;
   margin-inline: auto;
   max-width: 1200px !important;

   @include responsive(md) {
      max-width: 1200px !important;
      margin-inline: auto;
   }
}

.component-container {
   padding-inline: 2rem;
   width: auto;
   margin-inline: auto;
   max-width: 1200px !important;

   @include responsive(md) {
      max-width: 1200px !important;
      margin-inline: auto;
   }
}

// Hiding scrollbar
.body {
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: none; /* Firefox */
}
.body::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

/* width */
.custom-container {
   padding: 0 120px;
}

.env_video {
   background: linear-gradient(
      180deg,
      #000000 12.08%,
      rgba(0, 0, 0, 0) 110.57%
   );
   position: relative;
   z-index: 9999;
   height: 100%;
   width: 100%;
   background: linear-gradient(180deg, #000 12.08%, rgba(0, 0, 0, 0) 110.57%);
}
.home_media_container {
   width: 100%;
   position: relative;
   min-height: 250px;
}

.env_video_container {
   position: absolute;
   top: 40px;
   left: 100px;
   max-width: 350px;
   max-height: 350px;
   transform: rotate(180deg);
   mix-blend-mode: screen;
   margin-top: -100px;
   // bottom: -150px;
   z-index: -100;
   video {
      width: 100%;
      mix-blend-mode: color;
   }
}
.comet_image_container {
   position: absolute;
   right: 380px
}

.App {
   text-align: center;
}

.body-wrapper {
   position: relative;
}

@mixin devices($breakpoint) {
   @if $breakpoint == tablet {
      @media only screen and (max-width: 680px) {
         @content;
      }
   }

   @if $breakpoint == mobile {
      @media only screen and (max-width: 481px) {
         @content;
      }
   }

   @media (max-width: 768px) {
      max-width: 428px;
   }
}
// .row {
//    flex-wrap: nowrap !important;
//    width: 100%;
//    margin: auto;
// }
.backdrop {
   position: absolute;
   width: 100%;
   height: -webkit-fill-available;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background: linear-gradient(
      180deg,
      rgba(1, 18, 29, 0.7) 0%,
      rgba(0, 0, 0, 0.29) 100%
   );
   z-index: 9;
}

.career {
   display: flex;
   height: 90vh;
   align-items: center;
   justify-content: center;
   font-size: 3rem;
   color: aqua;
}

@media screen and (max-width: 991px) {
   .env_video_container {
      max-width: 250px;
      top: 6%;
   }
   .custom-container {
      padding: 0 80px;
   }
}

@media screen and (max-width: 767px) {
   .env_video_container {
      margin-top: 0;
      transform: rotate(180deg) translate(60%, -2%);
      // margin-bottom: -650px;
   }
   .custom-container {
      padding: 0 32px;
   }
   .comet_image_container {
      display: none;
   }
}

video::-internal-media-controls-overlay-cast-button {
   display: none;
}
