.faq-section {
   padding-top: 50px;
   background-image: linear-gradient(#000000, #000000f0, #00000000);
   background: #09100e;
   z-index: 1;

   .title-wrapper {
      h6 {
         font-size: 12px;
         @media all and (min-width: 992px) {
            font-size: 16px;
         }
      }
      h2 {
         font-size: 18x;
         font-weight: 700;
      }
   }
   .tab-content {
      border-radius: 16px;
      border: 1px solid rgba(44, 45, 61, 0);
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      padding: 32px;
   }

   .faqRow {
      gap: 1rem;
      margin-block: 3.5rem;
      position: relative;

      .allFaq {
         display: flex;
         flex-direction: column;
         gap: 12px;
         position: relative;
      }

      .tab-content-inner-box {
         gap: 32px;
         display: flex;
         flex-direction: column;
         width: 100%;

         .tab-content-text {
            color: #f2f2f2;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */

            @media all and (min-width: 400px) {
               font-size: 14px;
            }

            @media all and (min-width: 992px) {
               font-size: 16px;
            }
         }

         .tab-content-list {
            margin-bottom: 0px;
         
            li {
               color: #f2f2f2;
               font-family: Manrope;
               font-size: 12px;
               font-style: normal;
               font-weight: 500;
               line-height: 170%; /* 30.6px */

               @media all and (min-width: 400px) {
                  font-size: 14px;
               }

               @media all and (min-width: 992px) {
                  font-size: 16px;
               }
            }
         }

         .tab-content-fade-text {
            color: #fff;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 24px */
            opacity: 0.5;

            @media all and (min-width: 400px) {
               font-size: 14px;
            }

            @media all and (min-width: 992px) {
               font-size: 16px;
            }
         }
      }
      li {
         list-style-type: disc;
      }
      .nav-card {
         padding: 18px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 5px;
         border-radius: 16px;
         border: 1px solid #151729;
         background: rgba(255, 255, 255, 0.01);
         backdrop-filter: blur(10px);
         cursor: pointer;
         color: #f2f2f2;
         font-style: normal;
         font-weight: 500;
         line-height: normal;

         @media all and (min-width: 992px) {
            width: 50%;
            flex: 1;
         }

         &.active {
            background: rgba(255, 255, 255, 0.05);
            
            .tab-arrow {
               img {
                  transform: rotate(-90deg);
                  opacity: 1;

                  @media all and (min-width: 992px) {
                     transform: rotate(0deg);
                  }
               }
            }
         }

         .tab-title {
            font-size: 16px;
            pointer-events: none; // so that tabRef stores the tab-pane only and hence we get consistent value to scroll up to
            @media all and (min-width: 400px) {
               font-size: 18px;
            }
         }
         .tab-arrow {
            width: 22px;
            flex: 0 0 22px;
            align-self: center;
            pointer-events: none; // so that tabRef stores the tab-pane only and hence we get consistent value to scroll up to
            img {
               opacity: 0.1;
               transform: rotate(90deg);
               @media all and (min-width: 992px) {
                  transform: rotate(0deg);
               }
            }
         }
      }
      .tab-pane {
         border-radius: 16px;
         border: 1px solid rgba(44, 45, 61, 0);
         background: rgba(255, 255, 255, 0.05);
         backdrop-filter: blur(10px);
         padding: 32px;
         margin-top: 6px;
         font-size: 12px;

         @media all and (min-width: 400px) {
            font-size: 14px;
         }
         
         @media all and (min-width: 992px) {
            font-size: 16px;
            margin-top: 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: calc(50% - 12px);
            height: 100%;
         }

         &.view-tab {
            display: block;
         }

         &.hide-tab {
            display: none;
            @media all and (min-width: 992px) {
               // display: block;
            }
         }
      }
      .faq-saphere-box {
         position: absolute;
         height: 250px;
         width: 250px;
         z-index: -1;
         mix-blend-mode: screen;
         transform: rotate3d(-1, 0, 0, 180deg);

         &.faq-saphere1 {
            top: -50px;
            left: -50px;
            width: 150px;
            height: 150px;
            .video-box {
               background: linear-gradient(
                     0deg,
                     rgba(0, 0, 0, 0.7) 0%,
                     rgba(0, 0, 0, 0.7) 100%
                  ),
                  linear-gradient(
                     195deg,
                     #000 11.95%,
                     rgba(0, 0, 0, 0.94) 27.24%,
                     rgba(0, 0, 0, 0) 82.28%
                  );
            }
         }

         &.faq-saphere2 {
            bottom: -80px;
            right: -40px;
            width: 150px;
            height: 150px;
            .video-box {
               background: linear-gradient(
                  195deg,
                  #000 11.95%,
                  rgba(0, 0, 0, 0.94) 27.24%,
                  rgba(0, 0, 0, 0) 82.28%
               );
            }
         }
         video {
            height: 100%;
            width: 100%;
            mix-blend-mode: color;
         }

      }
   }

   .contact {
      color: var(--Linear, #e5be20) !important;
   }
   .faq-foot-text {
      p {
         margin-bottom: 0px;
      }

      margin-bottom: 3.5em;
      font-weight: 500;
      font-size: 12px;
      display: flex;
      justify-content: center;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      
      @media all and (min-width: 400px) {
         font-size: 14px;
      }

      @media all and (min-width: 992px) {
         font-size: 16px;
         flex-direction: row;
         gap: 10px;
      }

      .contact:hover {
         text-decoration: underline;
         cursor: pointer;
      }
   }
}
