.audiences_container {
   background: linear-gradient(180deg, rgba(6, 13, 11, 0.00) 0%, #060D0B 78.54%);
   padding-bottom: 60px;

   .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 1008px;
      margin-inline: auto;

      p {
         margin-bottom: 0px;
      }

      p:nth-child(1) {
         font-size: 12px;
         margin-bottom: 8px;

         @media all and (min-width: 400px) {}

         @media all and (min-width: 992px) {
            font-size: 16px;
         }
      }

      p:nth-child(2) {
         font-size: 20px;

         @media all and (min-width: 400px) {
            font-size: 24px;
            max-width: 600px;
         }

         @media all and (min-width: 992px) {
            font-size: 32px;
            max-width: 800px;
         }
      }
   }

   .products_carousel {
      max-width: 1200px;
      width: 100%;
      margin-top: 3.5rem;
   }
}

.audience-card {
   display: flex;
   height: 180px;
   border-radius: 16px;
   border: 1px solid #151729;
   background: linear-gradient(180deg,
         rgba(255, 255, 255, 0) -17.2%,
         rgba(255, 255, 255, 0.07) 140.9%);
   backdrop-filter: blur(10px);
   transform: translateZ(0);
   overflow: hidden;

   @media all and (min-width: 576px) {
      height: 200px;
   }

   .left_content {
      position: relative;

      .audience_image {
         height: 204.336px !important;
         width: 300px;
         object-fit: cover;
         opacity: 0.7;

         @media all and (min-width: 576px) {
            object-fit: scale-down;
         }

         @media all and (min-width: 768px) {
            object-fit: cover;
            width: 350px;
         }
      }
   }

   .right_content {
      padding: 16px;

      .company_logo {
         flex-shrink: 0;
         padding-bottom: 6px !important;
         object-fit: scale-down;
         width: 50.021px;
         height: 18px;
      }

      .audience_image {
         background: linear-gradient(135deg, #92ffc0 0%, #002661 100%);
         mix-blend-mode: color;
         width: 169px !important;

      }

      .audience_view {
         color: #F2F2F2;
         font-size: 12px;
         font-style: normal;
         font-weight: 500;
         line-height: 150%;
         /* 21px */
         padding-top: 8px;

         @media all and (min-width: 992px) {
            font-size: 14px;
         }
      }

      .audience_name {
         color: #f2f2f2;
         font-family: Manrope;
         font-size: 10px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         opacity: 0.3;
         position: absolute;
         bottom: 16px;
      }
   }
}

.products_carousel {
   .owl-dots {
      display: block !important;
   }

   .owl-dots button.owl-dot {
      margin-top: 0.5rem;

      span {
         width: 0.7rem;
         height: 0.7rem;
         margin-inline: 4px;
         border-radius: 0;
         clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
         opacity: 0.5;
      }
   }

   .owl-dots button.owl-dot.active span {
      background: #e5be20;
      opacity: 1;
   }

   .owl-nav button {
      width: 40px;
      height: 40px;
      padding: 12px !important;
      border-radius: 100px !important;
      border: 1px solid #04121B !important;
      background: #101D24 !important;
      box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.20);
      backdrop-filter: blur(10px);
      transform: translateZ(0);
      margin: 0 !important;
      position: absolute;
      top: calc(50% - 35px);
   }

   .owl-nav button span {
      color: #F8F8F8;
      opacity: 0.7;
      font-size: 33px;
      line-height: 20px;
   }

   .owl-nav .owl-prev {
      left: -20px;
      top: 75px;
   }

   .owl-nav .owl-next {
      right: -20px;
      top: 75px;
   }
}
