.blog-card .head-shield {
   // width: 172px;
   // background: url(<path-to-image>), #d3d3d300 50% / cover no-repeat;

   position: absolute;
   right: -19px;
   bottom: -10px;
   z-index: -1;
   opacity: 0.1;
   filter: opacity(0.4);
   transition: 0.3s;
}
.blog-card img.head-img {
   // background: url(<path-to-image>), #d3d3d300 50% / cover no-repeat;
   mix-blend-mode: overlay;
}

.blog-card svg,
.dot-img {
   position: absolute;
   z-index: -1;
   /* fill: #7BBA9C; */
   /* opacity: 0.32; */
   /* mix-blend-mode: difference; */
   /* filter: blur(105.03971862792969px); */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: 0.3s;
   object-fit: cover;
}

.blog-card:hover .blog_type{
   background: linear-gradient(95deg, #1D2F3A 0.13%, #14232C 96.58%);
}

.blog-card:hover svg {
   opacity: 1;
}
.blog-card:hover .dot-img {
   opacity: 0.1;
   filter: opacity(0.3);
}
.blog-card:hover .head-shield {
   opacity: 0.4;
}
.blog-card:hover {
   background: radial-gradient(
      185.16% 185.16% at 50% 0%,
      rgba(0, 31, 41, 0.75) 0%,
      #022032 100%
   ) !important;
   backdrop-filter: blur(10px) !important;
}
//     .blog-card.a2{
// background:  linear-gradient(180deg, rgba(255, 255, 255, 0.00) -17.2%, rgba(255, 255, 255, 0.07) 115.79%),radial-gradient(185.16% 185.16% at 50% 0%, rgba(0, 31, 41, 0.75) 0%, #022032 100%);
// backdrop-filter: blur(2px);}
// .blog-card.a3{
//     background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -17.2%, rgba(255, 255, 255, 0.07) 115.79%);}
.security_main_container {
   margin-block: 100px;
   width: 100%;
   margin-top: -100px;

   @media screen and (max-width: 768px) {
      margin-block: -50px;
   }
   .security_main_contents_container {
      display: flex;
      flex-direction: column;
      gap: 56px;
      flex-shrink: 0;
      .content_container_left {
         width: auto;
         max-width: 504px;
         display: flex;
         row-gap: 48px;
         flex-direction: column;
         .heading_n_slog {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
            .security_heading {
               float: left;
               color: #4f7d6e;
               text-align: center;
               font-family: Manrope;
               font-size: 16px;
               font-style: normal;
               font-weight: 600;
               line-height: 150%; /* 24px */
               letter-spacing: 5px;
               text-transform: uppercase;
            }
            .__slog_ {
               color: #fdfdff;
               font-family: Manrope;
               font-size: 32px;
               font-style: normal;
               font-weight: 700;
               line-height: 120%;
            }
         }
      }
      .blog-container {
         display: flex;
         align-items: stretch;
         flex-wrap: wrap;
         gap: 2rem;

         .blog-item {
            width: calc(33.33% - 1.5rem);
         }

         @media screen and (max-width: 768px) {
            .blog-item {
               width: calc(50% - 1rem);
            }
         }
         @media screen and (max-width: 500px) {
            .blog-item {
               width: calc(100% - 0rem);
            }
         }

         .blog-card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height:165px;
            margin: 0 !important;
            padding: 2rem;
            overflow: hidden;
            position: relative;
            z-index: 1;
            border-radius: 1rem;
            border: 1px solid #151729ab;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background: linear-gradient(
               180deg,
               rgba(255, 255, 255, 0) -17.2%,
               rgba(255, 255, 255, 0.07) 115.79%
            );
            mix-blend-mode: lighten;

            @media screen and (max-width: 769px) {
               align-self: center;
            }
            .blog_type {
               width: 63px;
               height: 23px;
               justify-content: center;
               display: flex;
               gap: 8px;
               align-items: center;
               border-radius: 3px;
               border-radius: 3px;
               mix-blend-mode: luminosity;
               border-radius: 3px;
               background: linear-gradient(95deg, #1D2F3A 0.13%, #14232C 96.58%);
               
               span {
                  color: #d1d1d1;
                  font-family: Manrope;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%; /* 14px */
                  letter-spacing: 1px;
                  text-transform: uppercase;
               }
            }

            .blog_heading {
               align-self: stretch;
               color: #f2f2f2;
               font-family: Manrope;
               font-size: 20px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               @media screen and (max-width: 769px) {
                  font-size: 18px;
               }
            }
            .publish_date {
               align-self: stretch;
               color: #f2f2f2;
               font-family: Roboto;
               font-size: 12px;
               font-style: normal;
               font-weight: 400;
               line-height: 150%; /* 18px */
               opacity: 0.3;
               position:absolute;
               top:193px;
            }
         }
      }
   }
}

@media (max-width: 991px) {
   .security_main_container
      .security_main_contents_container
      .blog-container
      .blog-card {
      gap: 20px;
      border-radius: 10px;
   }
   .security_main_container
      .security_main_contents_container
      .blog-container
      .blog-card
      .blog_heading {
      font-size: 16px;
   }
   .blog_type {
      gap: 4px;
   }
   .security_main_container .security_main_contents_container .blog-container {
      padding-top: 0;
   }
   .security_main_container {
      padding-bottom: 0px;
   }
}

@media (max-width: 767px) {
   .security_main_container
      .security_main_contents_container
      .blog-container
      .blog-card {
      margin-bottom: 20px;
      min-height: auto;
   }
   .security_main_container
      .security_main_contents_container
      .content_container_left
      .heading_n_slog
      .__slog_ {
      font-size: 24px;
      text-align: center;
   }
   .security_main_container
      .security_main_contents_container
      .content_container_left
      .heading_n_slog {
      align-items: center;
   }
   .security_main_container
      .security_main_contents_container
      .content_container_left
      .heading_n_slog
      .security_heading {
      font-size: 12px;
   }
}
