@import "../../../App.scss";

.certifications_container {
   background: #060d0b;
   position: relative;
   padding-bottom: 100px;
   width: 100%;
   align-items: flex-start;

   .title-wrapper {
      p {
         margin-bottom: 0px;
      }
   
      p:nth-child(1) {
         font-size: 12px;
         margin-bottom: 12px;
   
         @media all and (min-width: 992px) {
            font-size: 16px;
         }
      }
   
      p:nth-child(2) {
         font-size: 20px;
         margin-bottom: 12px;
   
         @media all and (min-width: 400px) {
            font-size: 24px;
         }
   
         @media all and (min-width: 992px) {
            font-size: 32px;
         }
      }
   }

   .certificate-container {
      margin-top: 40px;

      .certificate_card {
         padding: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 0.5rem;
         position: relative;
         overflow: hidden;
         border-radius: 24px;
         border: 1px solid #212624b5;
         background: linear-gradient(
               0deg,
               rgba(0, 0, 0, 0.05),
               rgba(0, 0, 0, 0.05)
            ),
            linear-gradient(
               180deg,
               rgba(255, 255, 255, 0.5) -584.64%,
               rgba(255, 255, 255, 0) 100%
            );
         height: 100%;
         // min-height: 208px;

         @media all and (min-width: 400px) {
            padding: 32px;
         }

         .heading {
            font-size: 16px;

            @media all and (min-width: 400px) {
               font-size: 18px;
            }

            @media all and (min-width: 768px) {
               font-size: 20px;
            }
         }

         .para {
            font-size: 12px;
            margin-bottom: 0px;

            @media all and (min-width: 400px) {
               font-size: 14px;
            }

            @media all and (min-width: 768px) {
               font-size: 16px;
            }
         }

         .certificate_image {
            height: 5rem;
            max-width: 7rem;
            object-fit: contain;
            // object-fit: cover;
            margin-bottom: 1rem;
            align-self: center;
            display: flex;
            // background: lightgray -1.245px -1.315px / 101.709% 104.102% no-repeat;
            mix-blend-mode: luminosity;
         }
      }

      .certificate-row {
         display: flex;
         justify-content: center;
         gap: 1rem;
         text-align: center;

         & > div {
            flex: 1;
         }

         .heading {
            margin: 0;
         }

         .para {
            width: 80%;
         }
      }
      
      .owl-stage {
         display: flex;
      }
   }
}

// .gap {
//    gap: 32px;
//    display: flex;
// }

@media screen and (max-width: 769px) {
   // .certifications_container
   //    .certificate-container
   //    .certificate_card
   //    .certificate_name {
   //    font-size: 22px;
   //    padding-bottom: 16px;
   // }
   // .certifications_container .certificate-container .certificate_card {
   //    min-height: 208px;
   // }
   // .certifications_container
   //    .certificate-container
   //    .certificate_card
   //    .certificate_desc {
   //    font-size: 16px;
   //    padding: 0;
   // }
   // .certifications_container {
   //    padding: 88px 0;
   // }
}
